$mate: #6ec47f;
$mint: #00ff99;
$mint-tint: #ccffea;

$bg-success: #D3FFCF;

$mint-strong: #00e68a;
$dark: #1c1c1c;
$nimax-dark: #303131;
$acid-green: #00ef81;
$white: white;
$techno-dark: #1c1c1c;
$smoky: rgba(26,26,26,0.6);
$smoky-invisible: rgba(26,26,26,0.0);
$link-color: #2799d0;
$link-color-strong: #0b2d3e;
$line-color: #efede7;

$input-border: #d3d3d3;
$border-thin: #efede7;

$text-grey: #909090;
$text-grey-background: #eee;

$tab-active: #d2d2d2;