<footer class="site-footer">
  <div class="footer-top">
    <div class="content-area-footer">
      <ui class="footer-column">
        <li class="footer-column-title">
        ИНТЕРНЕТ-МАГАЗИН
        </li>
        <li class="footer-column__item">
          <a href="{% url 'core:category_page' category_url='svetodiodnye_lenty' %}">Светодиодные ленты</a>
        </li>
        <li class="footer-column__item">
          <a href="{% url 'core:category_page' category_url='svetodiodnye_moduli' %}">Светодиодные модули</a>
        </li>
        <li class="footer-column__item">
          <a href="{% url 'core:category_page' category_url='alyuminievyy_profil' %}">Алюминиевые профили</a>
        </li>
        <li class="footer-column__item">
          <a href="{% url 'core:category_page' category_url='upravlenie_svetom' %}">Управление светом</a>
        </li>
        <li class="footer-column__item">
          <a href="{% url 'core:category_page' category_url='bloki_pitaniya_i_drayvery' %}">Блоки питания</a>
        </li>
        <li class="footer-column__item">
          <a href="{% url 'core:category_page' category_url='landshaftnoe_i_fasadnoe_osveshchenie' %}">Ландшафтное освещение</a>
        </li>
        <li class="footer-column__item">
          <a href="{% url 'core:category_page' category_url='svetodiodnye_svetilniki' %}">Светодиодные светильники</a>
        </li>
        <li class="footer-column__item">
          <a href="{% url 'core:category_page' category_url='svetodiodnye_prozhektory' %}">Светодиодные прожекторы</a>
        </li>
        <li class="footer-column__item">
          <a href="{% url 'core:category_page' category_url='fitoosveshchenie' %}">Фитоосвещение</a>
        </li>
        <li class="footer-column__item">
          <a href="{% url 'core:category_page' category_url='svetodiodnye_reklamnye_doski' %}">Светодиодные рекламные доски</a>
        </li>

      </ui>
      <ui class="footer-column">
        <li class="footer-column-title">
        О КОМПАНИИ
        </li>
        <li class="footer-column__item">
          <a href="{% url 'core:about' %}">О нас</a>
        </li>
        <li class="footer-column__item">
          <a href="{% url 'core:contacts' %}">Контакты</a>
        </li>
      </ui>
      <ui class="footer-column">
        <li class="footer-column-title">
        УСЛУГИ И СЕРВИС
        </li>
        <li class="footer-column__item">
          <a href="{% url 'core:optom' %}">Оптом</a>
        </li>
        <li class="footer-column__item">
          <a href="{% url 'core:info' %}">Оплата и доставка</a>
        </li>
      </ui>
      <ui class="footer-column">
        <li class="footer-column-title">
        ЕСТЬ ВОПРОСЫ? ЗВОНИТЕ!
        </li>
        <div class="footer-phone">
          <a class="footer-phone-number" href="tel:++7 495 642 35 07">+7 495 642 35 07</a>
          <p class="footer-phone-text">Для звонков по Москве</p>
          <li class="footer-column-title">
            ИЛИ ПИШИТЕ НА ПОЧТУ
          </li>
          <a class="footer-email" href="mailto:sales@torg-osvet.ru">sales@torg-osvet.ru</a>
        </div>
      </ui>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom__line">
    ТОРГОСВЕТ 2018 Все цены указаны в рублях.
    </div>
  </div>
</footer>
